@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: #f96262;
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    
    /* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
    - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
}


body {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    max-height: 625px;
}

#left {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 150px 100px;
    width: 400px;
}

.logo {
    padding-bottom: 100px;
}

#coming-soon {
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4em;
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#coming-soon > span {
    color: var(--Desaturated-Red);
    font-weight: 300;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--Desaturated-Red);
}

.textbox {
    border: 1px solid var(--Desaturated-Red);
    border-radius: 20px;
    padding: 13px 0 13px 20px;
}

.textbox:focus {
    outline: none;
    border-color: #ff6868;
}

.textbox::placeholder {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--Desaturated-Red);
}

.success {
    border: 2px solid #80f962;
}

.error {
    border: 2px solid #f96262;
}

.error-text {
    position: relative;
    top: 5px;
    left: 20px;
    color: var(--Soft-Red);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8em;
    visibility: hidden;
}

.error-icon {
    position: absolute;
    left: 420px;
    top: 468px;
    visibility: hidden;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit {
    position: absolute;
    left: 460px;
    top: 459px;
    width: 80px;
    height: 44px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 10px 5px 0px rgb(206, 151, 151, 0.3);
}

.btn-submit:hover {
    background-image: linear-gradient(135deg, hsl(0, 65%, 92%), hsl(0, 78%, 85%));
    box-shadow: 0px 10px 5px 0px rgb(206, 151, 151, 0.4);
}

#right > img {
    width: 530px;
    height: 625px;
}

@media only screen and (max-width: 900px) {

    #wrapper {
        display: flex;
        flex-direction: column;
    }

    
    #right{
        position: absolute;
        left: 50px;
        top: 130px;
        height: 450px;
        overflow: hidden;
    }

    .logo {
        position: absolute;
        top: -550px;
    }

    #left {
        position: relative;
        top: 600px;
    }

    .btn-submit {
        position: absolute;
        left: 460px;
        top: 322px;
    }
}

@media only screen and (max-width: 1100px) {


    .btn-submit {
        position: absolute;
        left: 350px;
        top: 475px;
    }
}